business-card{
	width: 100%;
	ion-col:first-child {
		padding-left: 0;
	}

	ion-col:last-child{
		padding-right: 0;
	}

	.rotateright{
		transform: rotate(90deg) translateY(-100%);
    	transform-origin: top left;
    	height: 100%;
	}
	img.hidden{
		opacity: 0;
	}

	ion-spinner.hidden{
		display: none;
	}

  .card-container {
    position: relative;
    padding: 5px 5px 0;
    height: 100px;
    margin-bottom: 15px;

    .card-image {
      border-radius: 5px;
      border-style: solid;
      height: 90px;
      object-fit: contain;
    }

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }

  .card-label {
    color: gray;
    margin-left: 5px;
  }
}

image-viewer{
	.scroll-content{
		background-color: black;
	}
}
