<div class="business card">
  <ion-row>
    <ion-col>
      <div class="card-label">Front</div>
      <div tappable class="card-container" (click)="captureImage(FRONT)">
        <img class="card-image" #frontImage [src]="theVal.front | convertFileSrc" (load)="onImageLoaded($event, true)">
        <ion-spinner name="ios-small" *ngIf="frontLoading"></ion-spinner>
      </div>
    </ion-col>
    <ion-col>
      <div class="card-label">Back</div>
      <div tappable class="card-container" (click)="captureImage(BACK)">
        <img class="card-image" #backImage [src]="theVal.back | convertFileSrc" (load)="onImageLoaded($event, false)">
        <ion-spinner name="ios-small" *ngIf="backLoading"></ion-spinner>
      </div>
    </ion-col>
  </ion-row>
</div>
