business-card{
	width: 100%;
}

.business.card{
	width: 100%;
	ion-col:first-child{
		padding-left: 0;
	}

	ion-col:last-child{
		padding-right: 0;
	}

	.rotateright{
		transform: rotate(90deg) translateY(-100%);
    	transform-origin: top left;
    	height: 100%;
	}
	img.hidden{
		opacity: 0;
	}
	ion-spinner{
		position: absolute;
		width: 60%;
		height: 60%;
		z-index: 40;
		left: 0;
		top: 0;
		margin: 10% 0 0 20%;
	}

	ion-spinner.hidden{
		display: none;
	}
}

image-viewer{
	.scroll-content{
		background-color: black;
	}
}