.forms {
  .form-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
  }
}

.no-data{
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: xx-large;
}