
.action{
	line-height: 30px;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: bottom;
	margin-left: 10px;
}

.element{
	line-height: 30px;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: bottom;
	float: right;
}

ion-refresher{

}

ion-item, *[ion-item]{
	padding-bottom: 2px !important;
	background-color: white;
}

.sync-list h3{
    display: inline-block;
    vertical-align: bottom;
}

//.forms.content-md .fixed-content{
//	margin-top: 56px !important;
//}
//
//.forms.content-md .scroll-content{
//	margin-top: 56px !important;
//}
//
//.forms.content-ios .fixed-content{
//	margin-top: 64px !important;
//}
//
//.forms.content-ios .scroll-content{
//	margin-top: 64px !important;
//}
