<ion-header>
	<ion-navbar color="orange">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Forms</ion-title>
		<ion-buttons end>
			<button ion-button (click)="toggleSearch()" [class.search]="searchMode">
        <ion-icon name="search"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="forms">
	<ion-searchbar #search (ionInput)="getItems($event)" *ngIf="searchMode" [@visibleTrigger]="searchTrigger"></ion-searchbar>
	<ion-list [virtualScroll]="filteredForms" approxItemHeight="76px" *ngIf="filteredForms.length > 0">
		<a ion-item detail-none *virtualItem="let form" (click)="presentActionSheet(form)">
			<h1>{{form.name}}</h1>
			<h2>{{form.total_submissions}} submissions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger" *ngIf="form.total_hold > 0">{{form.total_hold}} on Hold</span></h2>
		</a>
	</ion-list>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pull-max="200"></ion-refresher-content>
	</ion-refresher>
	<!--ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll-->
</ion-content>
