<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{'activations.title' | translate}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="searchActivations($event)" class="larger">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<div *ngIf="loading">
		<activation-item *ngFor="let x of [0,1,2]"></activation-item>
	</div>

	<div class="no-data" *ngIf="noActivations && !loading">
		<img src="./assets/images/no-activations.png" />
	</div>

	<ion-list *ngIf="!noActivations" approxItemHeight="300px">
		<activation-item *ngFor="let act of filteredActivations" [activations]="act.activations" [form]="act.form">
		</activation-item>
	</ion-list>
</ion-content>