<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	<ion-title>{{'activations.title' | translate}}</ion-title>
		<ion-buttons *ngIf="activations.length > 1" end>
			<button ion-button (click)="toggleSearch()" class="larger" [class.search]="searchMode">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar #search (ionInput)="getItems($event)" [placeholder]="'general.search' | translate" *ngIf="searchMode">
	</ion-searchbar>

	<div *ngIf="loading">
		<activation-item  *ngFor="let x of [0,1]" ></activation-item>
	</div>

	<div class="no-data" *ngIf="isThereNoActivations">
		<img src="./assets/images/no-activations.png" />
	</div>

	<ion-list  *ngIf="!isThereNoActivations" approxItemHeight="300px">
		<activation-item *ngFor="let act of filteredActivations" [activations]="act.activations" [form]="act.form" ></activation-item>
	</ion-list>
</ion-content>