<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Activations</ion-title>
		<ion-buttons end>
			<button ion-button (click)="toggleSearch()" class="larger" [class.search]="searchMode">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar #search (ionInput)="getItems($event)" *ngIf="searchMode">
	</ion-searchbar>

	<div *ngIf="loading">
		<event-item *ngFor="let x of [0,1,2]" [activation]="true" ></event-item>
	</div>

	<ion-list approxItemHeight="300px">
		<event-item (click)="navigate(act)" *ngFor="let act of filteredActivations"
			[image]="act.background_image" [name]="act.name" [address]="act.event.name" [activation]="true">
		</event-item>
	</ion-list>
</ion-content>