<ion-header>
	<ion-navbar color="orange" #navbar>

    <ion-title>{{form ? form.name : ''}}</ion-title>

    <ion-buttons end>
			<button ion-button (click)="doSave()" *ngIf="!isReadOnly(submission)">
				Submit
			</button>

      <button ion-button *ngIf="isReadOnly(submission)">
        Read only
      </button>

		</ion-buttons>
	</ion-navbar>

  <ion-toolbar *ngIf="isReadOnly(submission)">
    <div class="info-box">
      <div class="description-info">
        {{submission | submissionStatusPipe}}
      </div>
      <div class="date-info">
        Captured on {{submissionDate()}}
      </div>
    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="errorMessage && errorMessage.length > 0">
    <div class="error-message" >{{errorMessage}}</div>
  </ion-toolbar>
</ion-header>

<ion-content class="form-summary">

	<ion-grid>
		<ion-row *ngIf="form && form.list_id > 0 && !isReadOnly(submission)">
			<ion-col>
				<button ion-button block color="light" (click)="searchProspect()"><ion-icon name="search"></ion-icon>&nbsp;&nbsp;&nbsp;Pre-fill from List</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<form-view #formView
						[form]="form"
						[prospect]="prospect"
						[submission]="submission"
						(onValidationChange)="onValidationChange($event)"
						[readOnly]="isReadOnly(submission)"
            [submitAttempt]="submitAttempt"></form-view>
		</ion-row>
	</ion-grid>
</ion-content>
