<ion-header *ngIf="!isThereActivation()">

    <ion-title>
      <div #formTitle (click)="openStations($event)">
        <!-- A.S GOC-321 -->
        {{form ? form.name : ''}}
        <br *ngIf="form?.event_stations?.length" >
        <span *ngIf="selectedStation" >{{selectedStation.name}} <ion-icon class="info-icon" name="ios-information-circle-outline"></ion-icon></span>
        <br>
      </div>
    </ion-title>
    
    <ion-toolbar *ngIf="errorMessage.text">
      <div class="error-message" >{{errorMessage.text | translate : {fields:(errorMessage.param)} }}</div>
    </ion-toolbar>
</ion-header>


<!-- A.S GOC-353 -->
<ion-content [ngStyle]="{
  'background-color':form?.event_style?.capture_background_color,
  'background-image':'url('+captureBg+')',
  'background-size':'cover',
  'background-position':'center'}" class="form-summary">
  <ion-grid 
  [ngStyle]="{'padding':isThereActivation()? '0px': '5px','height':'100%'}">

		<ion-row style="height: inherit;">
      <ion-col style="order:1; height: inherit; overflow-y: scroll;" >
        <form-view
          *ngIf="form"
          [form]="form"
          [activation]="isThereActivation()"
          [prospect]="prospect"
          [submission]="submission"
          (onValidationChange)="onValidationChange($event)"
          [readOnly]="false"
          [isEditing]="isEditing"
          [submitAttempt]="submitAttempt"
          (onProcessingEvent)="onProcessing($event)"
          (doSubmit)="canSubmitForm($event)"
          >
        </form-view>
      </ion-col>
      <ion-col style="height: inherit;"
      no-padding
      *ngIf="activation && activation.display_capture_form != 1" [style.order]="getCaptureScreenUrlOrder(activation.display_capture_form)" >
        <iframe [src]="activation.capture_screen_url | safeUrl" width="100%" height="100%" frameborder="0" ></iframe>
      </ion-col>
    </ion-row>

  </ion-grid> 
  <button class="submit-btn" ion-button full block large *ngIf="!activation" (click)="doSave()" [disabled]="!valid || submitAttempt" >
    <span *ngIf="!submitAttempt" >{{"form-capture.submit-btn" | translate}}</span>
    <ion-spinner *ngIf="submitAttempt" ></ion-spinner>
  </button>
</ion-content>


<ion-footer [ngStyle]="{'background-color': 'white'}" no-border  *ngIf="isThereActivation()">
  
  <div class="footer-grid">
    <button ion-button round (click)="doBack()" color="light" >
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>

    <button ion-button full [ngStyle]="{'background-color':activation.submit_button_background_color,'color':activation.submit_button_text_color}"
    (click)="doSave()" [disabled]="isActivationProcessing">
      <span *ngIf="!isActivationProcessing" >{{activation.submit_button_text}}</span>
      <ion-spinner *ngIf="isActivationProcessing" ></ion-spinner>
    </button>
  </div>
  <ion-toolbar *ngIf="errorMessage.text">
    <div class="error-message" >{{errorMessage.text | translate : {fields:(errorMessage.param)} }}</div>
  </ion-toolbar>
</ion-footer>



