<ion-header>
	<ion-navbar color="primary" #navbar>

    <ion-title>
      <div #formTitle (click)="openStations($event)">
        {{form ? form.name : ''}}
        <br>
        <span *ngIf="selectedStation" >{{selectedStation.name}}</span>
      </div>
    </ion-title>

    <ion-buttons end>
			<button ion-button (click)="doSave()" *ngIf="!isReadOnly(submission) && !isEditing" [disabled]="isProcessing">
				Submit
			</button>

      <button ion-button *ngIf="isAllowedToEdit(submission) && !isEditing" (click)="doEdit()">
        Edit
      </button>

      <button ion-button *ngIf="isAllowedToEdit(submission) && isEditing" (click)="doSave()">
        Update
      </button>

		</ion-buttons>
	</ion-navbar>

  <ion-toolbar *ngIf="isReadOnly(submission)">
    <div class="info-box">
      <div class="description-info">
        {{submission | submissionStatusPipe}}
      </div>
      <div class="date-info">
        Captured on {{submissionDate()}}
      </div>
    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="errorMessage && errorMessage.length > 0">
    <div class="error-message" >{{errorMessage}}</div>
  </ion-toolbar>
</ion-header>

<ion-content class="form-summary">
	<ion-grid>
		<ion-row *ngIf="form && form.list_id > 0 && !isReadOnly(submission)">
			<ion-col>
				<button ion-button block color="light" (click)="searchProspect()"><ion-icon name="search"></ion-icon>&nbsp;&nbsp;&nbsp;Search List</button>
			</ion-col>
		</ion-row>

		<ion-row>
      <form-view *ngIf="form"
						[form]="form"
						[prospect]="prospect"
						[submission]="submission"
						(onValidationChange)="onValidationChange($event)"
						[readOnly]="isReadOnly(submission) && !isEditing"
            [isEditing]="isEditing"
            [submitAttempt]="submitAttempt"
            (onProcessingEvent)="onProcessing($event)">
      </form-view>
    </ion-row>

    <ion-item  [hidden]="true" *ngIf="form && form.event_stations && form.event_stations.length > 0">
      <ion-label >Stations</ion-label>
      <ion-select #stationsSelect color="primary" interface="popover"
                  [selectOptions]="{cssClass: selectedTheme +' gc-popover', title: 'Select station'}"
                  [(ngModel)]="selectedStation"
                  (ionChange)="onStationSelect($event)">>
        <ion-option *ngFor="let station of form.event_stations" [value]="station">{{station.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item  [hidden]="true" *ngIf="form && form.is_enable_rapid_scan_mode">
      <ion-label >Choose the scan source</ion-label>

      <ion-select #rapidScanSourceSelect color="primary"
                  [selectOptions]="{cssClass: 'gc-alert'}"
                  [(ngModel)]="selectedScanSource"
                  (ionChange)="onScanSourceChoose($event)">
        <ion-option *ngFor="let source of scanSources" [value]="source.id">{{source.name}}</ion-option>
      </ion-select>
    </ion-item>

	</ion-grid>
</ion-content>
