form-capture {

}

.icon-md.capture{
	font-size: 2em !important;
}

.icon-ios.capture{
	font-size: 3em !important;
}

.error-message {
  padding: 5px;
  font-size: 12px;
  background-color: red;
  color: white;
}

.warning-title {
  color: red;
}

.platform-ios {
  .gc-alert {
    .alert-radio-inner {
      background-color: transparent !important;
    }
  }
}

.gc-popover {
  .toolbar-background {
    background-color: transparent !important;
  }

  .toolbar-ios ion-title {
    padding: 0 40px 1px !important;
  }

  .bar-button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

