form-capture {

}

.icon-md.capture{
	font-size: 2em !important;
}

.icon-ios.capture{
	font-size: 3em !important;
}

.error-message {
  padding: 5px;
  font-size: 12px;
  background-color: red;
  color: white;
}

.warning-title {
  color: red;
}

.gc-popover {
  ion-backdrop {
    pointer-events: none;
  }
}
