<ion-header>
	<ion-navbar color="primary" [hideBackButton]="isFilterExpanded">
		<ion-buttons start>
      <button ion-button (click)="resetFilter()" *ngIf="isFilterExpanded">
        Clear
      </button>
		</ion-buttons>
		<ion-title >{{isFilterExpanded ? 'Filter' : form.name}}</ion-title>
		<ion-buttons end *ngIf="!isFilterExpanded">
      <button ion-button (click)="openFilter()">

        <ion-icon name="ios-funnel-outline">
          <ion-label *ngIf="selectedFilters.length" class="top-text">({{selectedFilters.length}})</ion-label>
        </ion-icon>

      </button>
			<button ion-button (click)="sync()" [disabled]="!hasSubmissionsToSend">
				<ion-icon name="cloud-upload" class="sync-submissions"></ion-icon>
			</button>
		</ion-buttons>
    <ion-buttons end *ngIf="isFilterExpanded">
      <button ion-button (click)="applyFilter()">
        Apply
      </button>
    </ion-buttons>
	</ion-navbar>
  <filters-view id="filters-view" (onFilterSelected)="openFilterView($event)" *ngIf="isFilterExpanded"></filters-view>
  <ion-searchbar #search (ionInput)="getSearchedItems($event)" *ngIf="isSearchingAvailable() && !isFilterExpanded"></ion-searchbar>
	<ion-grid style="background-color: white;" *ngIf="!isFilterExpanded">
		<ion-row>
			<ion-col>
				<ion-segment [(ngModel)]="statusFilter"  (ionChange)="onFilterChanged()" color="dark" class="segment">

          <ion-segment-button [value]="filter" [ngClass]="filter.id" *ngFor="let filter of statusFilters; let i = index">
          {{filter.title}}
          </ion-segment-button>

				</ion-segment>
			</ion-col>
		</ion-row>
    <ion-row>
      <ion-col>
        <h4>{{statusFilter.description}}</h4>
      </ion-col>
    </ion-row>
	</ion-grid>
</ion-header>

<ion-content class="form-summary">

  <ion-list [virtualScroll]="searchedSubmissions" approxItemHeight="84px" >
    <ion-item-sliding *virtualItem="let submission"  [class.danger]="submission.invalid_fields == 1">
      <ion-item (click)="goToEntry(submission)">

        <ng-container *ngIf="submission.id == -1">
          <div >
            <h1>No items to display</h1>
          </div>
        </ng-container>

        <ng-container *ngIf="submission.status != 1 && getBusinessCard(submission)">
          <img class="business-card-thumbnail" [src]="getBusinessCard(submission) | convertFileSrc">
        </ng-container>

        <ng-container *ngIf="!shouldShowBusinessCard(submission) && !isNoProcessedRapidScan(submission)">
          <div >
            <h1>{{displayedName(submission)}}</h1>
            <h2>{{submission.company}}</h2>
            <h2>{{displayedProperty(submission, "email")}}</h2>
            <h2>{{submission.telephone}}</h2>
          </div>
        </ng-container>

        <ng-container *ngIf="!shouldShowBusinessCard(submission) && isNoProcessedRapidScan(submission)">
          <div >
            <h1><i>Processing scan...</i></h1>
          </div>
        </ng-container>

        <button *ngIf="submission.id != -1" ion-button item-right icon-only clear (click)="statusClick($event, submission)" [disabled]="syncing">
          <ion-icon [name]="getIcon(submission)" [color]="getColor(submission)"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options side="right" *ngIf="isSubmissionRemovable(submission)">
        <button ion-button color="danger" (click)="deleteSubmission(submission)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

	<!--ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll-->
</ion-content>
