.form-summary ion-item button{
	height: 100% !important;
	margin: 0 !important;
	padding: 16px !important;
	font-size: 2.2rem !important;
}

.form-summary ion-item h2{
	font-size: 2.1rem !important;
}

.form-summary img.business-card-thumbnail{
	height: 8em;
	margin-left: 2em;
}

.sync-submissions{
	font-size: 2em !important;
}

.form-summary ion-item.danger {
	color: #f53d3d;
}

.segment-ios ion-segment-button{
	font-weight: bold !important;
	&.all{
		color: #222 !important;
		&.segment-activated{
			background-color: #222 !important;
			color: #fff !important;
		}
	}

	&.sent{
		color: #32db64 !important;
		&.segment-activated{
			background-color: #32db64 !important;
			color: #fff !important;
		}
	}

	&.ready{
		color: #387ef5 !important;
		&.segment-activated{
			background-color: #387ef5 !important;
			color: #fff !important;
		}
	}

	&.hold{
		color: #fb8f04 !important;
		&.segment-activated{
			background-color: #fb8f04 !important;
			color: #fff !important;
		}
	}

	&.blocked{
		color: #f53d3d !important;
		&.segment-activated{
			background-color: #f53d3d !important;
			color: #fff !important;
		}
	}
}

.segment-md ion-segment-button{
	font-weight: bold !important;

  &.all{
		color: #222 !important;
		&.segment-activated{
			border-color: #222 !important;
			color: #222;
		}
	}

	&.sent{
		color: #32db64 !important;
		&.segment-activated{
			border-color: #32db64 !important;
			color: #32db64;
		}
	}

	&.ready{
		color: #387ef5 !important;
		&.segment-activated{
			border-color: #387ef5 !important;
			color: #387ef5;
		}
	}

	&.hold{
		color: #fb8f04 !important;
		&.segment-activated{
			border-color: #fb8f04 !important;
			color: #fb8f04;
		}
	}

	&.blocked{
		color: #f53d3d !important;
		&.segment-activated{
			border-color: #f53d3d !important;
			color: #f53d3d;
		}
	}
}
