document {
  display: flex;
  flex-flow: column;
  align-items: center;


  ion-label {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .preview {
    position: relative;

    img {
      width: 100px;
      height: 125px;
      position: relative;
    }

    img:active {
      transform: scale(.8);
      transition: all .5s ease-in;
    }

    ion-icon {
      position: absolute;
      bottom: 5px;
      right: 15px;
      color: green;
      font-size: 30px;
    }
  }
}
