<ion-footer  >
    <ion-toolbar color="primary" >
      <ion-buttons left *ngFor="let btn of buttons" >
        <button (click)="onClick(btn)" ion-button icon-end >
          <ion-col align-self-center>
              <ion-row align-items-center>
                <ion-icon [name]="getIcon(btn)" ></ion-icon>    
            </ion-row>
              <ion-row align-items-center>
                  {{btn.label}}
              </ion-row>
          </ion-col>
        </button>
      </ion-buttons>   
    </ion-toolbar>
  </ion-footer>