  <ion-footer *ngIf="isTabsVisible()" [style.display]="tabsHide?'none':'block'" >
    <ion-toolbar >
      <div class="tabs-ctn">
        <button
        *ngFor="let btn of tabButtons?.buttons"
        clear
        color="white"
        [disabled]="disabled"
        (click)="onClick(btn.type)"
        ion-button>
          <div class="top-text">
            <ion-icon [name]="getIcon(btn)"></ion-icon>
            {{btn.label | translate}}
          </div>
        </button>

      </div>
    </ion-toolbar>
  </ion-footer>

  <custom-fab-menu
    *ngIf="isFabsVisible()"
    [hasMargin]="tabButtons?.buttons.length && tabButtons?.is_show && !tabsHide"
    [disabled]="disabled"
    [fabIcon]="'more'"
    [items]="fabMenuItems"
    (onItemSelected)="onItemSelected($event)">
  </custom-fab-menu>
