<ion-header>
	<ion-navbar color="orange">
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Settings</ion-title>
		<ion-buttons end>
			<button ion-button [disabled]="!shouldSave" (click)="saveSettings()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="settings">
	<ion-list>
		<ion-list-header>
			Organization
		</ion-list-header>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-label>{{user.customer_name}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Key</ion-label>
			<ion-label></ion-label>
		</ion-item>
		<ion-item class="last">
			<ion-label>Operator</ion-label>
			<ion-label>{{user.first_name + " " + user.last_name}}</ion-label>
		</ion-item>
		<ion-list-header>
			Operations
		</ion-list-header>
		<ion-item class="last">
			<ion-label>Automatic Upload</ion-label>
			<ion-toggle [(ngModel)]="settings.autoUpload" (ionChange)="onChange()" checked="false"></ion-toggle>
		</ion-item>
		<ion-list-header>
			Diagnostics
		</ion-list-header>
		<ion-item>
			<ion-label>App version</ion-label>
			<ion-label>{{version}}</ion-label>
		</ion-item>
		<ion-item class="last">
			<ion-label>Enable logging</ion-label>
			<ion-toggle [(ngModel)]="settings.enableLogging" (ionChange)="onChange()" checked="false"></ion-toggle>
		</ion-item>
		<ion-item>
			<button ion-button full large color="light" (click)="sync()"><ion-icon name=""></ion-icon> Sync</button>
		</ion-item>
		<ion-item>
			<button ion-button full large color="danger" (click)="unauthenticate()">Unauthenticate Device</button>
		</ion-item>
		<ion-item>
			<button ion-button full large color="light" (click)="recognize()">Recognize with Tesseract</button>
		</ion-item>
	</ion-list>

</ion-content>