<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Dispatch Forms</ion-title>
		<ion-buttons end>
			<button ion-button (click)="sync()" class="larger" >
				<ion-icon name="sync"></ion-icon>
			</button>
			<button ion-button (click)="toggleSearch()" class="larger" [class.search]="searchMode">
        <ion-icon name="search"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="dispatches">
	<ion-searchbar #search (ionInput)="getItems($event)" *ngIf="searchMode" [@visibleTrigger]="searchTrigger"></ion-searchbar>
  <ion-list [virtualScroll]="dispatches" approxItemHeight="50px">
		<a ion-item detail-none *virtualItem="let dispatch" (click)="presentActionSheet(dispatch)">
			<h1>{{dispatch.name}}</h1>
			<h2>{{dispatch.total_submissions}} submissions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger" *ngIf="dispatch.total_hold > 0">{{dispatch.total_hold}} on Hold</span></h2>
		</a>
	</ion-list>
	<!--ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pull-max="200"></ion-refresher-content>
  </ion-refresher>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll-->
</ion-content>
