<ion-header [class]="selectedTheme">
  <ion-navbar color="primary">
    <ion-buttons left>
      <button navPop ion-button icon-only (click)="done()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Back</ion-label>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="filter()">
        Filter
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="getSearchedItems($event)" *ngIf="selectedFilter && !shouldShowSelect()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div>Select {{selectedFilter && selectedFilter.title}}</div>

  <ng-select *ngIf="selectedFilter && shouldShowSelect()"
             [items]="modifiers"
             [multiple]="false"
             bindLabel="name"
             [clearable]="false"
             [(ngModel)]="selectedModifier">
  </ng-select>

  <ng-select *ngIf="selectedFilter && shouldShowSelect()"
             [items]="items"
             [multiple]="true"
             [addTag]="addTagFn"
             [hideSelected]="true"
             bindLabel="value"
             [(ngModel)]="selectedItems">
  </ng-select>

  <ion-list *ngIf="selectedFilter && !shouldShowSelect()">
    <ion-item>
      <ion-label class="filter-name" no-border>All</ion-label>
      <ion-checkbox [(ngModel)] = isAll (ionChange)="isAllUpdated()"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of searchedItems">
      <ion-label class="filter-name">{{item.value}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
