<ion-header [class]="selectedTheme">
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="done()">
        <ion-label>{{'general.close' | translate}}</ion-label>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="filter()">
        {{'form-review.filter.filter' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="getSearchedItems($event)" *ngIf="selectedFilter && !isModifierMode()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="selectedFilter && !isModifierMode()">
    {{'general.select' | translate}} {{selectedFilter && selectedFilter.title}}
  </div>

  <ng-select *ngIf="selectedFilter && isModifierMode()"
             [items]="modifiers"
             [multiple]="false"
             bindLabel="name"
             [clearable]="false"
             [(ngModel)]="selectedModifier">
  </ng-select>

  <ng-select #filter *ngIf="selectedFilter && isModifierMode()"
             [items]="items"
             [multiple]="true"
             [addTag]="addTagFn"
             [hideSelected]="true"
             bindLabel="value"
             (clear)="clearSelectedItems()"
             [(ngModel)]="selectedTags">
  </ng-select>

  <ion-list *ngIf="selectedFilter && !isModifierMode()">
    <ion-item>
      <ion-label class="filter-name" no-border>All</ion-label>
      <ion-checkbox [(ngModel)] = isAll (click)="isAllUpdated()"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of searchedItems">
      <ion-label class="filter-name">{{item[item.displayedProperty]}}</ion-label>
      <ion-checkbox [(ngModel)]="item.isSelected" (click)="onCheckbox(item)"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
