<div *ngIf="form && activations.length">
  <div class="form-header">{{form.name}}</div>
  <div class="grid-container grid-container--fit">
    <div class="grid-item" (click)="navigate(act)" *ngFor="let act of activations">
      <img [src]="act.background_image" style="width:100%">
      <h2 class="banner" >{{act.name}}</h2>
    </div>
  </div>
</div>

<div *ngIf="!form" >
  <div class="grid-container grid-container--fit">
    <div class="grid-item" *ngFor="let act of [0,1]">
      <h2> <skeleton-loading [width]="'200px'" ></skeleton-loading> </h2>
    </div>
  </div>
</div>