<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gocapture-ocr" version="1.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-gocapture-ocr</name>
	<author>LeadLiaison</author>
	<description>A Cordova/PhoneGap plugin to add support Tesseract OCR.</description>
	<keywords>cordova, ios, android, tesseract, ocr</keywords>
	<repo />
	<issue />
	<license />
	<engines>
		<engine name="cordova" version="&gt;=7.0.0" />
	</engines>
	<js-module name="cordova-plugin-gocapture-ocr" src="www/cordova-plugin-gocapture-ocr.js">
		<clobbers target="cordova.plugins.TesseractPlugin" />
	</js-module>
	<hook src="scripts/npmInstall.js" type="before_plugin_install" />
	<platform name="ios">
		<hook src="scripts/podify.js" type="after_prepare" />
		<config-file target="config.xml" parent="/*">
		    <feature name="cordova-plugin-gocapture-ocr">
			    <param name="ios-package" value="TesseractPlugin"/>
                <param name="onload" value="true" />
		    </feature>
        </config-file>

        <header-file src="src/ios/claseAuxiliar.h" />
        <source-file src="src/ios/claseAuxiliar.mm" />
        <header-file src="src/ios/TesseractPlugin.h" />
        <source-file src="src/ios/TesseractPlugin.m" />
        <!-- set the tessdata directory as a resource so it can go with the app -->
        <resource-file src="tessdata" />
		<pods-config ios-min-version="9.0" use-frameworks="true" />
		<pod git="https://github.com/gali8/Tesseract-OCR-iOS.git" name="TesseractOCRiOS" />
	</platform>
	<platform name="android">
		<hook src="scripts/getTessTwo.js" type="after_plugin_install" />
		<hook src="scripts/ensureProjectRef.js" type="before_build" />
		<hook src="scripts/ensureProjectRef.js" type="before_emulate" />
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="cordova-plugin-gocapture-ocr">
				<param name="android-package" value="com.leadliaison.mobilitease.ocr.TesseractPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/TesseractPlugin.java" target-dir="src/com/leadliaison/mobilitease/ocr" />
		<!--framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" /-->
	</platform>
</plugin>