.log {
	.showAll{
		word-wrap: break-word;
    	white-space: initial;
	}

	ion-item.activated{
		background-color: white !important;
	}
}

.capture.smaller{
	font-size: 180% !important;
	padding: 0 10px;
}
