<ion-header [class]="selectedTheme">
	<ion-navbar color="primary">
		<ion-title>Logs</ion-title>
		<ion-buttons end>
			<button ion-button (click)="done()">
				<ion-icon name="close" class="capture"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="log">
	<ion-list>
		<ion-item *ngFor="let log of logs" (click)="log.style = !log.style">
			<ion-icon [color]="getColor(log)" [name]="getIcon(log)"></ion-icon>
			<ion-label [class.showAll]="!!log.style" [color]="getColor(log)">{{log.message}}</ion-label>
		</ion-item>
    <ion-item (click)="showMore()" *ngIf="isMore == true">
      <ion-label class="show-more-lbl">Show more</ion-label>
    </ion-item>
	</ion-list>

</ion-content>

<ion-footer [class]="selectedTheme">
  <ion-toolbar>
    <ion-buttons class="text-center">
			<button ion-button (click)="copy()">
				<ion-icon name="copy" class="capture smaller" color="white"></ion-icon>
			</button>
      <button ion-button (click)="clearLogs()">
        <ion-icon name="trash" class="capture smaller" color="white"></ion-icon>
      </button>
		</ion-buttons>
  </ion-toolbar>
</ion-footer>
