.ocr-layout{
	width: 100%;
	div.holder{
		display: inline-block;
		width:100%;
		position: relative;
	}
	img{
		width:100%;
		max-width: none !important;
		height: auto;
	}
	.words{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.words-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.word{
		border: 2px solid red;
		position: absolute;
		color:transparent;
		&.assigned{
			border-color: green !important;
		}
	}

	.loading{
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
		ion-spinner {
			width: 50px;
			height: 50px;
			text-align: center;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			margin-top: -50px;
		}
	}
}
.word-actions{
	&.action-sheet-md{
		.action-sheet-sub-title{
			padding-left: 16px;
			color: #757575;
		}
	}
	&.action-sheet-ios{
		.action-sheet-title{
			border-bottom: none;
			font-weight: bold;
		}
		.action-sheet-sub-title{
			color: #757575;    
			border-bottom: 0.55px solid #d6d6da;
			padding-bottom: 7px;
		}
	}
}

.assign-field{
	div:not([class]){
		overflow-y: scroll;
	}
	.alert-title i{
		margin-right: 5px;
	}
}

.edit-word{
	padding-top: 1px !important;
	.alert-wrapper{
		max-height: 100% !important;
	}
	.alert-title i{
		margin-right: 5px;
	}
}

.pull-left{
	float: left;
}
