<div class="form-view">
	<form [formGroup]="theForm" style="width:100%;" novalidate>
		<div class="" *ngFor="let element of displayForm.elements" [ngSwitch]="element.type">
			<ion-item *ngSwitchCase="'email'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input type="email" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<ion-item *ngSwitchCase="'url'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input type="url" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<ion-item *ngSwitchCase="'text'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input type="text" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<dropdown [readonly]="readOnly" *ngSwitchCase="'select'" [element]="element" [formGroup]="theForm" [formControlName]="element.identifier"></dropdown>
			<ion-item *ngSwitchCase="'radio'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<radios item-content [element]="element" [readonly]="readOnly" [formGroup]="theForm" [formControlName]="element.identifier"></radios>
			</ion-item>
			<simple-name *ngSwitchCase="'simple_name'" [element]="element" [rootGroup]="theForm"></simple-name>
			<ion-item *ngSwitchCase="'textarea'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-textarea [attr.name]="element.id" [formControlName]="element.identifier"></ion-textarea>
			</ion-item>
			<ion-item *ngSwitchCase="'time'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-datetime [disabled]="readOnly" (click)="setHour($event)" displayFormat="hh:mm" pickerFormat="hh:mm"  [attr.name]="element.id" [formControlName]="element.identifier"></ion-datetime>
			</ion-item>
			<address *ngSwitchCase="'address'" [element]="element" [rootGroup]="theForm"></address>
			<ion-item *ngSwitchCase="'money'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input type="text" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<ion-item *ngSwitchCase="'number'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input type="number" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<ion-item *ngSwitchCase="'date'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-datetime [disabled]="readOnly" (click)="setDate($event)" displayFormat="MMMM DD, YYYY" pickerFormat="DD MMMM YYYY"  [attr.name]="element.id" [formControlName]="element.identifier"></ion-datetime>
			</ion-item>
			<ion-item *ngSwitchCase="'phone'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<ion-input [readonly]="readOnly" type="tel" [attr.name]="element.id" [formControlName]="element.identifier"></ion-input>
			</ion-item>
			<ion-item *ngSwitchCase="'checkbox'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<checkboxes [readonly]="readOnly" item-content [element]="element" [formGroup]="theForm" [formControlName]="element.identifier"></checkboxes>
  			</ion-item>
			<ion-item *ngSwitchCase="'image'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<image [readonly]="readOnly" item-content [element]="element" [formGroup]="theForm" [formControlName]="element.identifier"></image>
			</ion-item>
			<ion-item *ngSwitchCase="'business_card'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<business-card [readonly]="readOnly" item-content [element]="element" [formGroup]="theForm" [formControlName]="element.identifier"></business-card>
			</ion-item>
			<ion-item *ngSwitchCase="'signature'">
				<ion-label stacked [class.required]="element.is_required">{{element.title}}</ion-label>
				<signature [readonly]="readOnly" item-content [element]="element" [formGroup]="theForm" [formControlName]="element.identifier"></signature>
			</ion-item>
			<ion-item *ngSwitchDefault>
				<ion-label>Coming soon! A component for {{element.type}}</ion-label>
			</ion-item>
		</div>
	</form>
</div>