<div class="form-view {{barcodeStatusMap[submission ? submission.barcode_processed : displayForm.barcode_processed ]}}">
  <!--button ion-button (click)="showSelection()"></button-->

  <form [formGroup]="theForm" style="width:100%;" novalidate>

    <div class="" *ngFor="let element of displayForm.elements">
      <dynamic-form-element [theForm]="theForm"
                            [element]="element" *ngIf="shouldElementBeDisplayed(element)"
                            [submitAttempt]="submitAttempt"
                            [readOnly]="readOnly">
      </dynamic-form-element>
    </div>

  </form>
</div>
