$theme-color: color($colors, dark-purple);
$theme-text-color : color($colors, white);
$theme-font-weight: normal ;

.dark-purple-theme {
  @include theme($theme-color,$theme-text-color, $theme-font-weight);
}

