$primary: color($colors, orange);

$alert-ios-button-text-color: color($colors, orange);

$action-sheet-ios-button-text-color: color($colors, orange);

.default-theme {
  .header .toolbar-background {
    background-color: $primary;
  }
}
