$theme-color: color($colors, orange);
$theme-text-color : color($colors, white);
$theme-font-weight: normal ;

.default-theme {
  @include theme($theme-color,$theme-text-color, $theme-font-weight);
}
