$theme-color: color($colors, silver);
$theme-text-color : color($colors, black);
$theme-font-weight: normal ;

.silver-theme {
  @include theme($theme-color,$theme-text-color, $theme-font-weight);
}

