<ion-row class="simpleName" [formGroup]="group">
	<ion-col *ngFor="let map of mapping">
		<ion-item>
			<ion-label class="element-name" stacked [class.required]="element.is_required">{{nameMap[map.label]}}</ion-label>
			<ion-input type="text" [attr.name]="map.id" [formControlName]="map.identifier"></ion-input>
			<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(map.identifier)">
        <ion-icon name="ios-open-outline"></ion-icon>
      </button>
		</ion-item>
	</ion-col>
</ion-row>
