<ion-row class="simpleName" [formGroup]="group">
	<!-- <ion-label [style.color]="form.event_style.elements_label_color"
	*ngIf="isLabelVisible(element)" class="address-label element-name" stacked [class.required]="element.is_required">
        {{element.title}}
      </ion-label> -->
	<ion-col *ngFor="let map of mapping; let in = index">
		<ion-item>
			<ion-label class="element-name" stacked [class.required]="element.is_required">{{element.sub_elements[in].hint}}</ion-label>
			<ion-input type="text" [attr.name]="map.id" [formControlName]="map.identifier" [placeholder]="element.placeholder"></ion-input>
			<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(map.identifier)">
        <ion-icon name="ios-open-outline"></ion-icon>
      </button>
		</ion-item>
	</ion-col>
</ion-row>
