documents {
  .documents-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .document {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      flex: 0 50%;

      img {
        width: 100px;
        height: 125px;
      }
    }
  }
}
