<!--
  Generated template for the ActivationReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" #navbar>
    <ion-title>{{activation.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-searchbar *ngIf="submissions.length && !loading" (ionInput)="getItems($event)" [placeholder]="'general.search' | translate"></ion-searchbar>

  <div *ngIf="loading">
    <div class="grid-container grid-container--fit">
      <div class="grid-item" *ngFor="let x of [0,1]">
        <ion-item>
        <h2> <skeleton-loading [width]="'100%'" ></skeleton-loading> </h2>
      </ion-item>
      </div>
    </div>
	</div>
  <div class="no-data" *ngIf="!filteredSubmissions.length && !loading">
		<img src="./assets/images/no-Submissions.png" />
  </div>
    
  <ion-list *ngIf="filteredSubmissions.length && !loading">
    <ion-item *ngFor="let sub of filteredSubmissions">
      <ng-container>
        <div>
          <h1 *ngIf="sub.firstName"> {{sub.firstName}} {{sub.lastName}}</h1>
          <h2 *ngIf="sub.email">{{sub.email}} </h2>
          <h2 *ngIf="sub.result">{{sub.result}}</h2>
        </div>
      </ng-container>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>