page-activation-review {

    ion-item h2{
        font-size: 2.1rem !important;
    
    }
    
    ion-item h1{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}
