page-documents-list {
  ion-label {
    margin-bottom: 10px;
  }

  section {
    padding-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 85%;
    }
  }
}
