.goc-audio {

  .recorder {
    padding-top: 5px;

    .recording-btn {
      position: relative;
      border-color: #FA2200;
      color: #FA2200;

      &.activated {
        background-color: rgba(250, 34, 0, 0.1);
      }
    }

    .recording-dot {
      height: 15px;
      width: 15px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      float: right;
      margin-right: 10px;
    }

    .stop-btn {
      border-color: black;
      color: black;

      &.activated {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .mic-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);

    &.red {
      background: url("../assets/images/mic-red.png") no-repeat center;
      background-size: cover;
    }

    &.orange {
      background: url("../assets/images/mic-orange.png") no-repeat center;
      background-size: cover;
    }
  }

  padding-bottom: 10px;

  .trash-btn {
    float: right;
  }

  .play-btn {
    text-align: center;
  }

  .counter {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px;
    margin-left: 5px;
  }

  .blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

}
