<div class="ctn" >
  <div class="image-loading" *ngIf="imageLoading">
  <ion-spinner [color]="themeColor"  ></ion-spinner>
  </div>
  <img *ngIf="!imageLoading" [src]="form?.event_style?.event_record_background.path | convertFileSrc" class="image" onerror="this.src = 'assets/images/image-placeholder.jpg'" />
  <div class="text">
    <div class="title text-shadow-3"   [style.color]="form?.event_style?.event_text_color || 'white'">{{form?.name}}</div>
    <div class="address text-shadow-3" [style.color]="form?.event_style?.event_text_color || 'white'" *ngIf="form?.event_address?.address">
     {{form?.event_address?.address}}
    </div>
  </div>
  <div class="submissions">

    <ion-chip [style.color]="form?.event_style?.event_text_color || 'white'" > <ion-icon color="secondary" ></ion-icon>  <ion-label class="text-shadow-1" >{{form?.total_sent || 0}} Submitted</ion-label></ion-chip>
    <ion-chip [style.color]="form?.event_style?.event_text_color || 'white'" > <ion-icon color="orange"></ion-icon> <ion-label class="text-shadow-1">{{form?.total_hold || 0}} Pending</ion-label></ion-chip>
    <ion-chip [style.color]="form?.event_style?.event_text_color || 'white'" > <ion-icon color="danger"></ion-icon> <ion-label class="text-shadow-1">{{form?.total_unsent || 0}} Unsubmitted</ion-label></ion-chip>

  </div>
  <div *ngIf="form.isSyncing" class="sync-icon" >
    <ion-icon name="sync" ></ion-icon>
  </div>
</div>