<div class="ctn animated fadeIn" >
  <div class="image-loading" *ngIf="imageLoading">
  <ion-spinner></ion-spinner>
  </div>
  <img
  *ngIf="!imageLoading"
  [src]="image | convertFileSrc"
  class="image animated fadeIn"
  onerror="this.src = 'assets/images/image-placeholder.jpg'"
  />
  <div class="text">
    <div class="title text-shadow-3"   [style.color]="textColor || 'white'">{{name}}</div>
    <div class="address text-shadow-3" [style.color]="textColor || 'white'" *ngIf="address">
     {{address}}
    </div>
  </div>
  <div class="submissions">

    <ion-chip [style.color]="textColor || 'white'" >
      <ion-icon color="secondary" ></ion-icon>  <ion-label >{{sent || 0}} {{'forms.submitted' | translate}}</ion-label>
    </ion-chip>
    <ion-chip [style.color]="textColor || 'white'" >
       <ion-icon color="orange"></ion-icon> <ion-label >{{onHold || 0}} {{'forms.pending' | translate}}</ion-label>
      </ion-chip>
    <ion-chip [style.color]="textColor || 'white'" >
       <ion-icon color="danger"></ion-icon> <ion-label >{{unsent || 0}} {{'forms.unsubmitted' | translate}}</ion-label>
      </ion-chip>

  </div>
  <div *ngIf="isSyncing" class="sync-icon" >
    <ion-icon name="sync" ></ion-icon>
  </div>
</div>
