<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel()" color="orange">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Select prospect</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="!selectedItem" (click)="done()" color="orange">
        OK
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="isSearchAvailable()">
    <ion-searchbar [(ngModel)]="searchFilter" (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [virtualScroll]="filteredItems" approxItemHeight="75px">
    <a ion-item detail-none *virtualItem="let item" class="option-item"  approxItemHeight="75px"
       [class.selected]="item == selectedItem || (!selectedItem && item.isSelected)" (click)="selectedItem = item">
      <h1 class="title">{{item.title}}</h1>
      <h2 class="subtitle" *ngIf="item.subtitle">{{item.subtitle}}</h2>
    </a>
  </ion-list>
</ion-content>

