<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button (click)="cancel()">
				<ion-icon name="close" class="capture"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Select prospect</ion-title>
		<ion-buttons end>
			<button ion-button [disabled]="!selectedContact" (click)="done()">
				<ion-icon name="checkmark" class="capture"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar [(ngModel)]="searchFilter" (ionInput)="onInput($event)">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list [virtualScroll]="filteredContacts" approxItemHeight="75px">
		<a ion-item detail-none *virtualItem="let contact"  approxItemHeight="75px" [class.selected]="contact == selectedContact" (click)="selectedContact = contact">
			<h1>{{contact.fields.FirstName + " " + contact.fields.LastName}}</h1>
			<h2>{{contact.fields.Email}}</h2>
		</a>
	</ion-list>
</ion-content>