main{
  h2{
    color: white;
  }
  small{
    color:white;
    position: absolute;
    font-size: medium;
    bottom: 50px;
  }
  .bg{
    background-image: url('../assets/icon/splash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}