<ion-menu [content]="content">
  <ion-content class="sidemenu">
    <div class="profile">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="" *ngIf="!user.user_profile_picture"/>
          <img [src]="user.user_profile_picture | avatarPathUpdaterPipe" *ngIf="user.user_profile_picture"/>
        </ion-avatar>
        <h1>Hi, {{user.first_name}}</h1>
        <h3>Welcome back</h3>
      </ion-item>
    </div>
    <ion-list color="dark">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon  item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


<ion-pullup #pullup maxHeight="300" (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()">

  <ion-toolbar #toolbar class="sync-header">
    <ion-spinner></ion-spinner>
    <div class="action">Syncing...</div>
    <div class="element">{{currentSyncForm}}</div>
  </ion-toolbar>

  <ion-content class="sync-content">
    <ion-list class="sync-list">
      <ion-item *ngFor="let status of statuses">
        <ion-icon [name]="getIcon(status.loading, status.complete)" [color]="getColor(status.loading, status.complete)"></ion-icon>
        <h3>{{getStateLabel(status.loading, status.complete, status.formName)}}</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pullup>
