<ion-grid>
	<ion-row>
		<ion-col col-12 col-sm *ngFor="let option of element.options; let i = index">
			<ion-item no-lines [ngStyle]="{'align-items':getAlignment()}">
				<ion-label 
				[style.color]="element.style.text_color || form.event_style.elements_label_color"
				[ngStyle]="{'width':isLabelFullWidth(),'font-style':isElementItalicize()}" 
				>{{option.option_label || option.option}}</ion-label>
				<ion-checkbox 
				[disabled]="readonly" 
				[checked]="has(currentVal, option)" 
				(ionChange)="onCheckChange($event, option)"></ion-checkbox>
			</ion-item>
		<div *ngIf="element.style.underline" class="border-line" ></div>

		</ion-col>

	</ion-row>
</ion-grid>