<ion-content scroll="false" class="login default-theme">
	<div class="top-content row" *ngIf="doAuth == false">
		<div class="col padding col-center">
			<img [src]="user.customer_logo">
		</div>
	</div>
	<div class="bottom-content row">
		<div class="col col-center">
			<form *ngIf="doAuth == true">
				<ion-list padding>
					<ion-item>
						<ion-label class="tagline">Please contact your company administrator to obtain an Auth Code.<br/>Enter your Auth Code below.</ion-label>
					</ion-item>
          <ion-item>
            <ion-input type="email" name="email" required placeholder="Enter Email Address" [(ngModel)]="email"></ion-input>
          </ion-item>
					<ion-item>
						<ion-input type="text" name="authCode" required placeholder="Enter Auth Code" [(ngModel)]="authCode"></ion-input>
					</ion-item>
					<ion-item>
						<button ion-button full large color="red" (click)="onClick()">
              Authenticate
            </button>
					</ion-item>
				</ion-list>
			</form>
      <ion-list padding *ngIf="doAuth == false">
					<ion-item>
						<button ion-button full large color="red" (click)="onClick()">
              Continue
            </button>
					</ion-item>
      </ion-list>
		</div>
	</div>
</ion-content>

<ion-footer class="default-theme">
	<button ion-button clear icon-only style="float: right;" (click)="presentPopover($event)">
		<ion-icon name="cog" color="dark"></ion-icon>
	</button>
</ion-footer>
