.top-content{
    position: relative;
    height: 45vh;
    background-color: #f4f4f4;
  }

  .user-background-image {
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover !important;
  }

  .bottom-content{
    padding:0px;
    background-color: color($colors, light, base);
    min-height:55vh;
    position: relative;
  }