<ion-content scroll="false" class="login default-theme">
	<div class="top-content row" *ngIf="!doAuth">
		<div class="col padding col-center">
			<img [src]="user.customer_logo">
		</div>
	</div>
	<div class="bottom-content row">
		<div class="col col-center">
			<form *ngIf="doAuth">
				<ion-list padding>
					<ion-item>
						<ion-label class="tagline">{{'login.header' | translate}}</ion-label>
					</ion-item>
					<ion-item>
						<input type="email" name="email" autocomplete="on" clearInput="true" required placeholder="{{'login.email-placeholder' | translate}}"
							[(ngModel)]="email" />
					</ion-item>
					<ion-item>
						<input type="{{codeInputType}}" autocomplete="on" clearInput="true" name="authCode" required placeholder="{{'login.auth-placeholder' | translate}}"
							[(ngModel)]="authCode" />
						<button ion-button clear item-end (click)="changeInputType()" >
							<ion-icon name="{{codeInputType == 'password' ? 'eye-off' : 'eye'}}" ></ion-icon>
						</button>
					</ion-item>
					<ion-item>
						<button ion-button full large (click)="onClick()">
							Authenticate
						</button>
					</ion-item>
				</ion-list>
			</form>
			<ion-list padding *ngIf="!doAuth">
				<ion-item>
					<button ion-button full large (click)="onClick()">
						Continue
					</button>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>
<ion-footer>
	<button ion-button clear icon-only style="float: right;" (click)="presentPopover($event)">
		<ion-icon name="cog" color="dark"></ion-icon>
	</button>
</ion-footer>