.top-content{
    border-bottom: 1px solid color($colors, dark, base);
    position: relative;
    height: 20vh;
    margin-bottom: 25vh;
  }

  .user-background-image {
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover !important;
  }

  .bottom-content{
    padding:0px;
    background-color: color($colors, light, base);
    min-height:55vh;
    position: relative;
  }