<ion-header [class]="selectedTheme">
  <ion-navbar color="primary">
    <ion-buttons start navPop>
      <button ion-button>
        Cancel
      </button>
    </ion-buttons>
    <ion-title>{{documentsSource.name}}</ion-title>
    <ion-buttons end (click)="send()">
      <button ion-button>
        Send
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label text-center>Tap to select documents. Long press to view</ion-label>

  <ion-grid class="documents-list">
    <ion-row>
      <ion-col col-6 *ngFor="let document of documentsSource.documents">
        <document [document]="document" (onSelect)="select(document)" (onOpen)="openDocument(document.url)"></document>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
