<ion-header [class]="selectedTheme">
  <ion-navbar color="primary">
    <ion-buttons start navPop (click)="close()">
      <button ion-button>
        Cancel
      </button>
    </ion-buttons>
    <ion-title>{{documentSet.name}}</ion-title>

    <ion-buttons end (click)="shareDocuments()" *ngIf="shareMode === DocumentShareMode.SHARE && selectedDocCount && !readonlyMode">
      <button ion-button>Send</button>
    </ion-buttons>

    <ion-buttons end (click)="submitSelectedDocuments()" *ngIf="shareMode === DocumentShareMode.SUBMISSION && !readonlyMode">
      <button ion-button>Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label text-center *ngIf="documentSet && documentSet.documents.length">
    {{readonlyMode ? 'Long press to view document.' : 'Tap to select documents. Long press to view.'}}
  </ion-label>

  <ion-label text-center *ngIf="documentSet && !documentSet.documents.length">
    This document set is empty.
  </ion-label>

  <ion-grid class="documents-list">
    <ion-row>
      <ion-col col-6 *ngFor="let document of documentSet.documents">
        <document [document]="document" (onSelect)="select(document)" (onOpen)="openDocument(document)"></document>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
