page-search-activations {
    .select-disabled {
    opacity: 1 !important;
  }

  .gc-select {
    max-width: 100%;
    .select-text {
      white-space: normal;
    }
  }
}

radios, .radios{
  width: 100%;


}

