<!--
  Generated template for the SearchActivationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <ion-label> {{'activations.search.event' | translate}}</ion-label>
  <ion-item (click)="showOptions()">
    <ion-select class="gc-select" color="primary" [disabled]="true" [(ngModel)]="formName" (ionChange)="getFormName()">
      <ion-option *ngFor="let form of forms" [value]="form.name" >{{form.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-label>{{'activations.search.activation' | translate}}</ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="activationName"></ion-input>
  </ion-item>

</ion-content>

<ion-footer >
  <ion-toolbar>
  <ion-buttons class="text-center">
    <button ion-button (click)="onCancel()">
      {{'general.cancel' | translate}}
    </button>
    <button ion-button (click)="onSearch()">
      {{'general.search' | translate}}
    </button>
  </ion-buttons>
  </ion-toolbar>

</ion-footer>