<div class="address" [formGroup]="group">
	<ion-label [style.color]="form.event_style.elements_label_color"
	*ngIf="isLabelVisible(element)" class="address-label element-name" stacked [class.required]="element.is_required">
        {{element.title}}
      </ion-label>
	<ion-grid>
		<ion-row responsive-sm>
			<ion-col>
				<ion-item>
				<ion-label stacked>{{element.sub_elements[0].hint}}</ion-label>
					<ion-input type="text" [attr.name]="element.identifier + '_1'" [formControlName]="element.identifier + '_1'" [placeholder]="element.placeholder"></ion-input>
					<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(element.identifier + '_1')"><ion-icon name="ios-open-outline"></ion-icon></button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row responsive-sm>
			<ion-col>
				<ion-item>
					<ion-label stacked>{{element.sub_elements[1].hint}}</ion-label>
					<ion-input type="text" [attr.name]="element.identifier + '_2'" [formControlName]="element.identifier + '_2'" [placeholder]="element.placeholder"></ion-input>
					<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(element.identifier + '_2')"><ion-icon name="ios-open-outline"></ion-icon></button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row responsive-sm>
			<ion-col>
				<ion-item>
					<ion-label stacked>{{element.sub_elements[2].hint}}</ion-label>
					<ion-input type="text" [attr.name]="element.identifier + '_3'" [formControlName]="element.identifier + '_3'" [placeholder]="element.placeholder"></ion-input>
					<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(element.identifier + '_3')"><ion-icon name="ios-open-outline"></ion-icon></button>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-label stacked>{{element.sub_elements[3].hint}}</ion-label>
					<ion-input type="text" [attr.name]="element.identifier + '_4'" [formControlName]="element.identifier + '_4'" [placeholder]="element.placeholder"></ion-input>
					<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(element.identifier + '_4')"><ion-icon name="ios-open-outline"></ion-icon></button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row responsive-sm>
			<ion-col>
				<ion-item>
					<ion-label stacked>{{element.sub_elements[4].hint}}</ion-label>
					<ion-input type="text" [attr.name]="element.identifier + '_5'" [formControlName]="element.identifier + '_5'" [placeholder]="element.placeholder"></ion-input>
					<button *ngIf="selection" ion-button clear item-right icon-only (click)="selectEntry(element.identifier + '_5')"><ion-icon name="ios-open-outline"></ion-icon></button>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item (click)="showOptions()">
					<ion-label [style.color]="form.event_style.elements_label_color" stacked >{{element.sub_elements[5].hint}}</ion-label>
					<ion-select [disabled]="true" [ngModel]="country" [attr.name]="element.identifier + '_6'"
                      [formControlName]="element.identifier + '_6'">
                     <ion-option *ngFor="let country of countries" [value]="country.value">{{country.name}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>
