<div class="goc-audio">
  <div class="recorder" *ngIf="!currentVal">
    <!--audio recording-->
    <button ion-button icon-only outline block (click)="startRecording()" *ngIf="!isRecording">
      <ion-icon name="microphone"></ion-icon>
    </button>

    <div *ngIf="isRecording">
      <div class="counter">{{trackDuration | timeIntervalPipe}}</div>
      <button ion-button icon-only outline block (click)="stopRecording()">
        <ion-icon name="square"></ion-icon>
      </button>
    </div>

  </div>

  <div class="playback" *ngIf="currentVal" >
    <ion-range [(ngModel)]="currentPosition" (ionBlur)="onSeek($event)">
      <ion-label range-left>{{timeUp | timeIntervalPipe}}</ion-label>
      <ion-label range-right>-{{timeDown | timeIntervalPipe}}</ion-label>
    </ion-range>

    <ion-row>
      <ion-col>
        <button ion-button icon-only outline block *ngIf="!isPlaying" (click)="startPlayback()">
          <ion-icon name="play"></ion-icon>
        </button>

        <button ion-button icon-only outline block *ngIf="isPlaying" (click)="pausePlayback()">
          <ion-icon name="pause"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button class="trash-btn" ion-button icon-only outline block color="danger" right (click)="removeRecord()">
          <ion-icon name="trash" right></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</div>
